<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotMusic - Incluir Música</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Spotmusic</h1>
    </div>

    <h4>
        Nova música
    </h4>

    <form th:action="@{/playlists/{playlistId}/musicas/salvar(playlistId=${playlistId})}"
      th:method="${musica.id} == 0 ? post : put" th:object="${musica}">
        <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>
            <div class="form-group col-md-4">
                <label for="titulo">Título:</label>
                <input class="form-control" id="titulo" type="text" th:field="*{titulo}"/>
                <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
            </div>

            <div class="form-group col-md-4">
                <label for="banda">Banda:</label>
                <input class="form-control" id="banda" type="text" th:field="*{banda}"/>
                <div th:if="${#fields.hasErrors('banda')}" th:errors="*{banda}"></div>
            </div>

            <div class="form-group col-md-4">
                <label for="nota">Nota:</label>
                <input class="form-control" id="nota" type="number" th:field="*{nota}"/>
                <div th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></div>
            </div>

        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>

    </form>
    <hr/>

    <a class="btn btn-light" th:href="@{/playlists/{playlistId}/musicas/listar(playlistId=${playlistId})}">Voltar</a>

    <hr/>
    <footer class="footer">
        <p>&copy; 2023 Matheus Buschermoehle</p>
    </footer>

</div>
</body>
</html>